<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    

    <table border="2px solid black">
        <h1>User List</h1>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <% for(user of data){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><form action="/user/<%= user.id %>/edit" method="get">
                    <button type="submit">Edit Username</button>
                </form></td>
            </tr>
        <% } %>
    </table>
</body>
</html>